OPENAI_API_KEY=I WILL PROVIDE YOU WITH A VALID OPENAI API KEY FOR EASIER TESTING. IT EXPIRES AFTER A MONTH. 
THIS IS OUT OF MY OWN ACCORD SO PLEASE USE IT WISELY. THE API KEY IS IN A ZIPPED FILE CALLED "API_KEY.zip".

DEFAULT_LLM_MODEL=openai:gpt-5.4-mini

DEDUPE_LLM_MODEL=openai:gpt-5.4-mini
EXTRACTION_LLM_MODEL=openai:gpt-5.4-mini